body {
  background-color: #eee;
}

h1{
  text-align: center;
  color: rgb(25, 70, 129);

}

.color {
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 10px;
  margin-left: auto ;
  border: black 0.5px solid;
}

div.color:hover {
opacity: 0.5;
width: 35px;
height: 35px;
}

.selected {
opacity: 1;
width: 35px;
height: 35px;
}

.pixel {
  border: black solid 1px;
  padding: 0;
  margin: 0;
}

.linha {
  border: red solid 1px;
}

div#pixel-board {
margin: auto;
width: fit-content;

}

div#color-palette {
  margin: auto;
  width: fit-content;
  background-color: rgb(230, 230, 230);
  align: center;
  display: inline-block;
  width: 180px;
  padding-bottom: auto;
}

.separar {
  width: fit-content;
  margin: auto;
}

#salvar {
  width: fit-content;
  margin: auto;
}

.save{
  background-color: rgb(71, 71, 71);
  font-weight: bold;
  color:white;
  padding-left: 10px;
}

.save:hover {
  opacity: 0.5;
}

#gera-cor {
  background-color: rgb(230, 230, 230);
  width: 200px;
  height: 100px;
  display: inline-block;
  margin: auto;
  margin-left: 100px;
  position: absolute;
}

#alinha{
  background-color: orange;
  margin: auto;
  width: fit-content;
}

#generate-button {
  display: block;
  margin: auto;
  width: fit-content;
  margin-top: 10px;
}

#generate-input{
display: block;
margin: auto;
background-color: rgb(230, 230, 230);
border: none;
padding: 0;
margin-top: 10px;
height: 40px;
}